body {
  /*background-color: #F8F8F8;*/
  /*background-color: #FFFFFF;*/
}

/* Make bibliography match page background */
#quarto-appendix, #refs, .references, .csl-bib-body, .csl-entry {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

.reveal .slides section {
  padding-top: 80px;   /* adjust as needed */
}

.fig-center {
  text-align: center;
}

.fig-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
